<p-table [value]="items" [scrollable]="true">
  <ng-template pTemplate="header">
    <tr>
      <th style="width:50px"></th>
      <!--ITEM NOME-->
      <th class="nomeCol">Nome</th>

      <!--ITEM QUANTITà-->
      <th class="offertaCol">Quantità</th>

      <!--ITEM OFFERTA-->
      <th class="offertaCol" *ngIf="page==Page.Lista">Offerta</th>

      <!--ITEM PREZZO-->
      <th class="offertaCol">Prezzo</th>

      <!--ITEM ZONA PER LISTA EFFETTIVA-->
      <th class="nomeCol" *ngIf="page==Page.Lista">
        <span style="line-height:30px">Zona</span>
        <button class="orderButton" (click)="changeOrder()">
          <span *ngIf="this.sortCase==SortCase.Aldi">Aldi</span>
          <span *ngIf="this.sortCase==SortCase.Lidl">Lidl</span>
        </button>
      </th>

      <!--ITEM ZONA PER LISTA AUTOCOMPLETE E LISTA BASE LIDL-->
      <th class="offertaCol" *ngIf="page!=Page.Lista">ZonaLidl</th>

      <!--ITEM ZONA PER LISTA AUTOCOMPLETE E LISTA BASE ALDI-->
      <th class="offertaCol" *ngIf="page!=Page.Lista">ZonaAldi</th>

      <!--MODIFICA BUTTON-->
      <th class="offertaCol" style="width:85px">Modifica</th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr [ngStyle]="{'opacity':item.ordine==0?0.25:1}">

      <td style="width:50px">
        <div (click)="selectItem(item.id)" class="checkBoxCustom" [ngClass]="{'checkBoxCustomSelected':itemSelected.includes(item.id)}">
          <i class="fas fa-check customIcon" *ngIf="itemSelected.includes(item.id)"></i>
        </div>
      </td>

      <!--ITEM NOME-->
      <td class="nomeCol">
        {{item.nome}}
      </td>

      <!--ITEM QUANTITà-->
      <td class="offertaCol">
        {{item.quantita}}
      </td>

      <!--ITEM OFFERTA LIDL-->
      <td style="text-align: center" *ngIf="sortCase==SortCase.Lidl&&page==Page.Lista" class="offertaCol">
        <i class="fas fa-circle" [ngStyle]="{'color':item.offertaLidl?'green':'white'}" style="font-size:20px;"></i>
      </td>

      <!--ITEM OFFERTA ALDI-->
      <td style="text-align: center" *ngIf="sortCase==SortCase.Aldi&&page==Page.Lista" class="offertaCol">
        <i class="fas fa-circle" [ngStyle]="{'color':item.offertaAldi?'green':'white'}" style="font-size:20px;"></i>
      </td>

      <!--ITEM PREZZO-->
      <td class="offertaCol">
        {{item.prezzo}}
      </td>

      <!--ITEM ZONA PER LISTA EFFETTIVA-->
      <td *ngIf="page==Page.Lista" class="nomeCol">
        {{item.ordine}}
      </td>

      <!--ITEM ZONA PER LISTA AUTOCOMPLETE E LISTA BASE LIDL-->
      <td *ngIf="page!=Page.Lista" class="offertaCol">
        {{item.ordineLidl}}
      </td>

      <!--ITEM ZONA PER LISTA AUTOCOMPLETE E LISTA BASE ALDI-->
      <td *ngIf="page!=Page.Lista" class="offertaCol">
        {{item.ordineAldi}}
      </td>

      <td style="text-align:center;width:85px" class="offertaCol">
        <button style="border:none;background-color:inherit" (click)="changeItem(item.id)">
          <i class="fas fa-edit"></i>
        </button>
      </td>

    </tr>
  </ng-template>
</p-table>
