
<div style="margin:20px 0;">
  <button class="addButton" (click)="openAddItemDialog()"><i class="fas fa-plus"></i></button>
  <button *ngIf="deleteItemsId.length!=0" class="addButton" (click)="openDeleteSelectedItems()"><i class="far fa-trash-alt"></i></button>
  <!--<button *ngIf="deleteItemsId.length!=0" class="addButton" (click)="openTransferDialog()"><i class="fas fa-exchange-alt"></i></button>-->
  <button *ngIf="page==Page.Lista" class="importButton" (click)="displayImportDialog=true">Importa lista base</button>
</div>

<baseTable [page]="page"
           (change)="openChangeItemDialog($event)"
           (delete)="openDeleteDialog($event)"
           (select)="selectItemCallback($event)"
           (sortCaseOutput)="sortCase=$event"></baseTable>

<addOrChangeDialog [(id)]="changeItemId" [page]="page" (onClose)="onCloseAddDialog()" [(visible)]="displayItemDialog"></addOrChangeDialog>

<deleteDialog (onClose)="displayDeleteDialog=false" [page]="page" [(visible)]="displayDeleteDialog" [(deleteIds)]="deleteItemsId"></deleteDialog>
<importDialog (onClose)="displayImportDialog=false" [(visible)]="displayImportDialog" [(sortCase)]="sortCase"></importDialog>
