.addButton {
  width: 45px;
  height: 45px;
  border: none;
  background-color: #1C6E7D;
  color: white;
  font-size:25px;
  border-radius:50%;
  outline:none;
  margin:10px;
}
  .addButton:hover {
    transition: 0.25s;
    background-color: #ff6600;
  }
.importButton {
  padding: 5px 10px;
  border: none;
  background-color: #1C6E7D;
  color: white;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  float: right;
  margin: 15px;
}

  .importButton:hover {
    transition: 0.25s;
    background-color: #ff6600;
  }
@media only screen and (max-width: 600px) {
  .nomeCol {
    width:45vw !important;
  }
  .qntCol {
      width:30vw !important;
  }
  .offertaCol {
      width:20vw !important;
  }
}
