<p-dialog [(visible)]="displayItemDialog" styleClass="AdaptivePDialog" [showHeader]="false">
  <div>
    <div style="display:inline-block;width:80%">
      <span *ngIf="new" class="dialogTitle">Nuovo oggetto</span>
      <span *ngIf="new==false" class="dialogTitle">Modifica oggetto</span>
    </div>
    <button class="addButton" style="float:right;display:inline-block" (click)="displayItemDialog=false;sendRequestError=false;"><i class="fas fa-times"></i></button>
  </div>

  <div>

    <div class="ui-float-label">
      <p-autoComplete [(ngModel)]="autocompleteItem" field="nome" [suggestions]="suggestedItems" (keyup)="searchForItems()" (onSelect)="selectTheItem($event)"></p-autoComplete>
      <label for="nome">Nome</label>
    </div>

    <div class="ui-float-label">
      <input [(ngModel)]="currentItem.quantita" type="number" size="30" pattern="[a-zA-Z ]*" [ngStyle]="{'width':'100%'}" pInputText>
      <label for="nome">Quantità</label>
    </div>

    <div class="ui-float-label">
      <input [(ngModel)]="currentItem.prezzo" type="number" size="30" pattern="[a-zA-Z ]*" [ngStyle]="{'width':'100%'}" pInputText>
      <label for="nome">Prezzo</label>
    </div>

    <div class="ui-float-label">
      <input [(ngModel)]="currentItem.ordineLidl" type="number" size="30" pattern="[a-zA-Z ]*" [ngStyle]="{'width':'100%'}" pInputText>
      <label for="nome">Ordine Lidl</label>
    </div>

    <div class="ui-float-label">
      <input [(ngModel)]="currentItem.ordineAldi" type="number" size="30" pattern="[a-zA-Z ]*" [ngStyle]="{'width':'100%'}" pInputText>
      <label for="nome">Ordine Aldi</label>
    </div>
    <div style="margin:10px auto; width:100%">
      <button class="offertaButton" style="margin-right:5%;" [ngClass]="{'offertaButtonTrue':currentItem.offertaAldi,'offertaButtonFalse':currentItem.offertaAldi==false}" (click)="currentItem.offertaAldi?currentItem.offertaAldi=false:currentItem.offertaAldi=true;">
        Offerta Aldi
      </button>
      <button class="offertaButton" style="margin-left:5%;" [ngClass]="{'offertaButtonTrue':currentItem.offertaLidl,'offertaButtonFalse':currentItem.offertaLidl==false}" (click)="currentItem.offertaLidl?currentItem.offertaLidl=false:currentItem.offertaLidl=true;">
        Offerta Lidl
      </button>
    </div>
    <span *ngIf="sendRequestError">C'è stato un problema</span>

    <div style="margin:20px auto; width:40px" *ngIf="new">
      <button class="addButton" (click)="addItem()">
        <i class="fas fa-save"></i>
      </button>
    </div>

    <div style="margin:20px auto; width:40px" *ngIf="new==false">
      <button class="addButton" (click)="EditItem()">
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </div>

</p-dialog>
