<p-dialog [(visible)]="visible" [showHeader]="false" [modal]="true" styleClass="delete" [ngStyle]="{'height':'60vh'}">
  <div>
    <div style="display:inline-block;width:80%">
      <span *ngIf="deleteIds.length==1" class="dialogTitle">Elimina oggetto</span>
      <span *ngIf="deleteIds.length>1" class="dialogTitle">Elimina oggetti</span>
    </div>
    <button class="addButton" style="float:right;display:inline-block" (click)="closeDialog()"><i class="fas fa-times"></i></button>
  </div>
  <div style="width:90%;margin:40px auto;font-size:18px;">
    Vuoi davvero eliminare <span *ngIf="deleteIds.length==1">questo oggetto?</span><span *ngIf="deleteIds.length>1">questi oggetti?</span>
  </div>
  <ul style="margin-left:3vw">
    <ng-template ngFor let-item [ngForOf]="items"><li>{{item.nome}}</li></ng-template>
  </ul>
  <div style="margin:20px auto 0 auto; width:40px">
    <button class="addButton" (click)="deleteItems()">
      <i class="far fa-trash-alt"></i>
    </button>
  </div>

</p-dialog>
